body {
background-color: #9e959e;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.boxed {
  border: 3 px solid white;
  border-radius: 20px;
  background-color: #47454d;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

h1 {
  text-align: center;
  color: white; 
  /*try #edeff5 for all font colors?*/
  font-family: helvetica, arial, sans-serif;
}

h3 {
  text-align: center;
  color: white;
  font-family: helvetica, arial, sans-serif;
}

h4 {
  text-align: center;
  color: white;
  font-family: helvetica, arial, sans-serif;
}

p {
  text-align: center;
  color: white; 
  font-family: helvetica, arial, sans-serif;
}

