body {
background-color: #47454d;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

h1 {
  color: white; 
  /*try #edeff5 for all font colors?*/
  font-family: helvetica, arial, sans-serif;
}

h3 {
  color: white;
  font-family: helvetica, arial, sans-serif;
}

h4 {
  color: white;
  font-family: helvetica, arial, sans-serif;
}

p {
  color: white; 
  font-family: helvetica, arial, sans-serif;
}

